body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid linear-gradient(#ED4880, #F38B17 );
    margin-bottom: 4px;
}

button {
    background: linear-gradient(#ED4880, #F38B17 );
    color: white;
    padding: 10px 20px;
    border: 1px solid linear-gradient(#ED4880, #F38B17 );
    font-weight: bold;
}

#reset {
    background: white;
    color: #ED4880;
}

ul{
    color:#ED4880;
    list-style: none;
}
button:hover{
    background: linear-gradient(#a78b94, #F38B17 );
    transition: 0.7s;
}
button:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #5a01a7;
    }
#reset:hover{
    background: rgb(210, 210, 210);
}


